*.dta
*.txss
*.pdf
*.log
chapter_2/figs/*
*/archive/*
figs/*
*.log
*.aux
*.png
*.bbl
*.bcf
*.blg
*.xml
*.synctex.gx
*/.Rproj.user
*/*_cache/*
*/*_files/*
*.RData
*.rdx
*.rdb
chapter_3/Large cluster AQ simulation/mll_large_clusters_cache/latex/__packages
*.gz
*.Ya4604
*.Rproj
chapter_3/chapter_3-concordance.tex
chapter_3/functions_old.R
chapter_4/chapter_4-concordance.tex
chapter_4/chapter_4.tex
chapter_3/mll_large_clusters.Rmd
chapter_3/chapter_3.tex
chapter_2/chapter_2-concordance.tex
chapter_2/chapter_2.tex
chapter_4*
*.rds
*.toc
appendix/appendix.tex
*.tex
